<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p>
        {% if error %}
            {{ error }}  {% else %}
            The page you requested could not be found.
        {% endif %}
    </p>
    <ul>
        <li><a href="/">Go to Home Page</a></li>
        <li><a href="#">Search the Site</a></li> </ul>
</body>
</html>
